---
import Badge from "../components/Badge.astro";
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import EmailIcon from "../components/icons/Email.astro";
import SocialPill from "../components/SocialPill.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Experience from "../components/Experience.astro";
import BriefCaseIcon from "../components/icons/BriefCase.astro";
import CodeIcon from "../components/icons/Code.astro";
import Projects from "../components/Projects.astro";
---

<Layout>
  <Welcome />
  <main class="px-4">
    <SectionContainer id="top" class="py-44 pb-24">
      <h1 class="text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
        Hola, soy Jinson
        <a
          href="https://www.linkedin.com/in/jinson-medina/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center font-bold"
        >
          <Badge>¡Listo para Ayudarte!</Badge>
        </a>
      </h1>
      <h2 class="text-2xl text-wrap max-w-[700px]">
        Tecnólogo en Desarrollo de Software especializado en aplicaciones web y
        móviles. Apasionado por la tecnología y el diseño de soluciones
        innovadoras. ¡Saludos desde Ecuador!
      </h2>

      <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialPill href="https://www.linkedin.com/in/jinson-medina/">
          <LinkedInIcon class="size-4 lg:size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/Jinson25">
          <GitHubIcon class="size-4 lg:size-6" />
          GitHub
        </SocialPill>
        <SocialPill href="mailto:jinsonalejandro@gmail.com">
          <EmailIcon class="size-4 lg:size-6" />
          jinsonalejandro@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>
    <SectionContainer id="sobre-mi">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
        <BriefCaseIcon class="size-7" />
        Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
        <CodeIcon class="size-7" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>
  </main>
</Layout>
