<section class="flex gap-x-8 justify-center items-center">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-green-700 [&>p>strong]:font-semibold text-pretty"
  >
    <p>
      Mi nombre es Jinson Medina. Cuando tenía 12 años, descubrí el mundo de
      Internet, especialmente a través de Minecraft, un videojuego. Sin darme
      cuenta,<strong>
        ya estaba programando en Java para crear plugins para servidores.</strong
      >
    </p>
    <p>
      Fue entonces cuando supe que la programación me gustaba, y decidí
      estudiarla en el bachillerato. Actualmente soy Tecnólogo en Desarrollo de
      Software, dedicado en desarrollo web.
    </p>
    <p>
      Siempre estoy dispuesto a ayudar a los demás, y me encanta compartir mis
      conocimientos con quienes lo necesiten. Si tienes alguna pregunta o
      necesitas ayuda con algo, no dudes en contactarme. ¡Estoy aquí para
      ayudarte!
    </p>
  </div>
  <img src="/me.jpg" alt="Jinson Medina" class="size-64 rounded-ss-xl" />
</section>
